/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  /* stylelint-disable */
  /* stylelint-enable */ }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: '';
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir='rtl'] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500.woff2") format("woff2"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500.woff") format("woff"); }

/* montserrat-500italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500italic.woff2") format("woff2"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500italic.woff") format("woff"); }

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v12-latin_cyrillic-ext-700.woff2") format("woff2"), url("../fonts/montserrat-v12-latin_cyrillic-ext-700.woff") format("woff"); }

* {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: #2d2d2d; }

body {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

h1,
h2 {
  color: #449bda; }

a,
blockquote {
  text-decoration: none; }

ul,
ol,
dl {
  padding: 0;
  margin: 0; }

.header-page {
  padding: 10px 60px;
  background-color: #24292e; }
  .header-page__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.main-page {
  padding: 80px 0 100px; }
  .main-page__main-title {
    display: none; }

.footer-page {
  padding: 20px 60px;
  background-color: #24292e; }
  .footer-page__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-page__social-item {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 10px; }
    .footer-page__social-item:last-child {
      margin-right: 0; }

.main-nav {
  width: 65%;
  text-align: right; }
  .main-nav__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .main-nav__link {
    position: relative;
    margin-left: 20px;
    color: #ffffff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .main-nav__link:hover {
      color: #449bda; }
    .main-nav__link--active {
      color: #449bda; }
      .main-nav__link--active:before {
        content: '';
        position: absolute;
        bottom: -3px;
        width: 100%;
        border-bottom: 1px solid #449bda; }

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px 80px; }
  .promo__title {
    margin: 0;
    padding-bottom: 20px;
    font-size: 52px; }

.about-us {
  padding: 0 60px; }

.services {
  padding: 0 60px; }
  .services__title {
    font-size: 42px;
    margin-bottom: 80px; }
  .services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.services-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 21%;
  margin: 0 20px 30px;
  border: 2px solid #449bda;
  border-radius: 10px;
  overflow: hidden; }
  .services-card:hover {
    -webkit-box-shadow: 0 0 10px 5px #ababab;
            box-shadow: 0 0 10px 5px #ababab; }
  .services-card__img {
    width: 100%;
    border-bottom: 2px solid #449bda; }
  .services-card__link {
    padding: 5px 3px; }

.doctors {
  padding: 0 60px; }
  .doctors__title {
    font-size: 42px;
    margin-bottom: 80px; }
  .doctors__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 80px; }
  .doctors__personality {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 30px; }
  .doctors__img-wrap {
    position: relative;
    margin-bottom: 20px;
    width: 170px;
    height: 170px;
    border: 5px solid #449bda;
    border-radius: 100%;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px 5px #ababab;
            box-shadow: 0 0 10px 5px #ababab; }
  .doctors__img {
    position: absolute; }
  .doctors__name {
    font-weight: bold;
    font-size: 20px; }
  .doctors__text {
    width: 77%;
    margin-top: 20px; }

.promotions-discounts {
  padding: 0 60px; }
  .promotions-discounts__title {
    font-size: 42px;
    margin-bottom: 80px; }

.reviews {
  padding: 0 60px; }
  .reviews__title {
    font-size: 42px;
    margin-bottom: 80px; }
  .reviews__card {
    padding: 0 15px;
    margin-bottom: 50px;
    border: 2px solid #449bda;
    border-radius: 10px; }

.contacts {
  padding: 0 60px; }
  .contacts__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 40px; }
  .contacts__title {
    font-size: 42px;
    margin-bottom: 50px; }
  .contacts__card {
    padding-bottom: 30px; }
  .contacts__text {
    width: 35%; }
  .contacts__card-title {
    padding-bottom: 10px;
    margin: 0;
    font-size: 22px; }
  .contacts__card-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contacts__card-link {
    margin-bottom: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .contacts__card-link:hover {
    color: #449bda; }

/*# sourceMappingURL=style.css.map */
