/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  /* stylelint-disable */
  /* stylelint-enable */ }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: '';
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir='rtl'] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500.woff2") format("woff2"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500.woff") format("woff"); }

/* montserrat-500italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500italic.woff2") format("woff2"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500italic.woff") format("woff"); }

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v12-latin_cyrillic-ext-700.woff2") format("woff2"), url("../fonts/montserrat-v12-latin_cyrillic-ext-700.woff") format("woff"); }

* {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  line-height: 1.5;
  color: #24292e; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

img {
  max-width: 100%;
  height: auto; }

h1,
h2 {
  color: #449bda;
  line-height: 1.2; }

a,
blockquote {
  text-decoration: none; }

ul,
ol,
dl {
  padding: 0;
  margin: 0; }

button {
  width: 155px;
  height: 36px;
  margin-top: 10px;
  padding: 5px 8px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: #24292e;
  background-color: #ffffff;
  border: 2px solid #449bda;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s; }
  button:hover {
    color: #449bda;
    background-color: #ededed;
    -webkit-box-shadow: inset 0 0 4px 2px #828282;
            box-shadow: inset 0 0 4px 2px #828282;
    font-size: 13px; }

.header-page {
  padding: 10px 60px;
  background-color: rgba(243, 207, 207, 0.5);
  z-index: 10;
  border-bottom: 1px solid #ababab; }
  @media (max-width: 950px) {
    .header-page {
      padding: 10px 35px; } }
  @media (max-width: 750px) {
    .header-page {
      padding: 10px 20px; } }
  @media (max-width: 450px) {
    .header-page {
      padding: 10px 10px; } }
  .header-page__inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    max-width: 1160px; }
  .header-page__logo {
    width: 220px; }
  .header-page__text {
    position: absolute;
    width: 200px;
    left: 250px;
    top: 10px; }
    @media (max-width: 499px) {
      .header-page__text {
        display: none; } }
  .header-page__time {
    list-style-type: none;
    color: #828282; }
  .header-page__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 7px; }
  .header-page__phone-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -moz-text-align-last: left;
         text-align-last: left;
    margin-left: 10px; }
  .header-page__phone-title {
    color: #828282; }
  .header-page__phone-item {
    color: #449bda;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .header-page__phone-item:first-of-type {
      margin: 1px 0 8px; }
    .header-page__phone-item:hover {
      color: #828282; }

.main-page {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer-page {
  padding: 20px 60px;
  background-color: #f3cfcf;
  border-top: 1px solid #ababab;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
  @media (max-width: 950px) {
    .footer-page {
      padding: 10px 35px; } }
  @media (max-width: 750px) {
    .footer-page {
      padding: 10px 20px; } }
  @media (max-width: 499px) {
    .footer-page {
      height: 85px; } }
  @media (max-width: 450px) {
    .footer-page {
      padding: 10px 10px; } }
  .footer-page__inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1160px;
    margin: 0 auto; }
  .footer-page__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .footer-page__social-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    margin-right: 10px;
    width: 32px;
    height: 32px; }
    .footer-page__social-item:last-child {
      margin-right: 0; }
    .footer-page__social-item:before {
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px; }
    .footer-page__social-item:hover:before {
      display: none; }
  .footer-page__nav {
    text-align: right; }
  .footer-page__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media (max-width: 800px) {
      .footer-page__nav-list {
        width: 400px; } }
    @media (max-width: 550px) {
      .footer-page__nav-list {
        display: none; } }
  .footer-page__nav-item {
    display: inline-block; }
    @media (max-width: 800px) {
      .footer-page__nav-item {
        margin-bottom: 10px; } }
  .footer-page__nav-link {
    position: relative;
    margin-left: 20px;
    color: #828282;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .footer-page__nav-link:hover {
      color: #449bda; }
  .footer-page__nav-link--active {
    color: #449bda; }
    .footer-page__nav-link--active:before {
      content: '';
      position: absolute;
      bottom: -3px;
      width: 100%;
      border-bottom: 1px solid #449bda; }
  .footer-page__text {
    display: none;
    position: absolute;
    top: 0;
    right: 0; }
    @media (max-width: 499px) {
      .footer-page__text {
        display: block; } }
  .footer-page__time {
    list-style-type: none;
    color: #828282; }
  .footer-page__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 7px; }
  .footer-page__phone-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -moz-text-align-last: left;
         text-align-last: left;
    margin-left: 10px; }
  .footer-page__phone-title {
    color: #828282; }
  .footer-page__phone-item {
    color: #449bda;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .footer-page__phone-item:first-of-type {
      margin: 1px 0 8px; }
    .footer-page__phone-item:hover {
      color: #828282; }

.logo {
  position: relative;
  display: block; }
  .logo__text {
    position: absolute;
    top: 55px;
    right: 0;
    color: #449bda;
    font-size: 12px;
    font-weight: bold; }

.main-nav {
  position: relative;
  text-align: right; }
  @media (max-width: 1120px) {
    .main-nav {
      position: absolute;
      top: 43px;
      right: 142px;
      -webkit-transform-origin: top;
              transform-origin: top;
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 0;
      -webkit-transition: all .5s;
      transition: all .5s;
      z-index: 5; } }
  .main-nav--active {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1; }
  .main-nav__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 1120px) {
      .main-nav__list {
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        padding: 30px 25px 15px;
        width: 90px;
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid #ababab;
        border-radius: 50px 0 50px 50px; } }
  .main-nav__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .main-nav__link {
    position: relative;
    margin-left: 20px;
    color: #828282;
    -webkit-transition: all .5s;
    transition: all .5s; }
    @media (max-width: 1120px) {
      .main-nav__link {
        margin: 10px 0; } }
    .main-nav__link:hover {
      color: #449bda; }
    .main-nav__link--active {
      color: #449bda; }
      .main-nav__link--active:before {
        content: '';
        position: absolute;
        bottom: -3px;
        width: 100%;
        border-bottom: 1px solid #449bda; }
      @media (max-width: 1120px) {
        .main-nav__link--active:before {
          border-bottom: none; } }

.burger {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ababab;
  overflow: hidden;
  cursor: pointer;
  z-index: 10; }
  @media (max-width: 1120px) {
    .burger {
      display: block;
      right: 0; } }
  .burger:used {
    -webkit-animation: beat 0s;
            animation: beat 0s; }
  .burger__item {
    position: absolute;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 24px;
    overflow: hidden;
    border-radius: 0; }
    @media (max-width: 1120px) {
      .burger__item {
        left: 20%;
        top: 3px; } }
    .burger__item:focus, .burger__item:active {
      outline: none; }
    .burger__item:hover {
      background-color: transparent;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .burger__item:before, .burger__item:after {
      -webkit-transition: all .5s;
      transition: all .5s;
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #449bda; }
    .burger__item:before {
      top: 0; }
    .burger__item:after {
      bottom: 0; }
    .burger__item span {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 4px;
      font-size: 0; }
    .burger__item span:before,
    .burger__item span:after {
      -webkit-transition: all .5s;
      transition: all .5s;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #449bda; }
  .burger__item-open {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-animation: beat 0s;
            animation: beat 0s; }
    .burger__item-open:before, .burger__item-open:after {
      opacity: 0; }
    .burger__item-open:before {
      -webkit-transform: translate(30px);
              transform: translate(30px); }
    .burger__item-open:after {
      -webkit-transform: translate(-30px);
              transform: translate(-30px); }
    .burger__item-open span:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .burger__item-open span:after {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }
  .burger__heartbeat {
    -webkit-animation: beat 7s infinite linear;
            animation: beat 7s infinite linear; }

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  5% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }
  10% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  15% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }
  20% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@keyframes beat {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  5% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }
  10% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  15% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }
  20% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

.promo {
  height: 700px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 10px;
  background-image: url(../img/promo-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2; }
  @media (max-width: 1100px) {
    .promo {
      background-position: -250px 0; } }
  @media (max-width: 950px) {
    .promo {
      background-position: -300px 0; } }
  @media (max-width: 750px) {
    .promo {
      background-position: -450px 0; } }
  @media (max-width: 600px) {
    .promo {
      background-position: -550px 0; } }
  @media (max-width: 450px) {
    .promo {
      background-position: -700px 0; } }
  .promo__inner {
    margin-left: 8%; }
    @media (max-width: 649px) {
      .promo__inner {
        margin-left: 20px; } }
  .promo__title {
    padding-top: 300px;
    margin: 0;
    padding-bottom: 10px;
    font-size: 56px; }
    @media (max-width: 649px) {
      .promo__title {
        font-size: 38px; } }
  .promo__text {
    font-size: 24px; }
    @media (max-width: 649px) {
      .promo__text {
        font-size: 18px; } }

.about {
  margin: 550px 0 0;
  background-color: #ffffff;
  border-top: 1px solid #ababab; }
  .about__inner {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 60px; }
    @media (max-width: 950px) {
      .about__inner {
        padding: 0 35px; } }
    @media (max-width: 750px) {
      .about__inner {
        padding: 0 20px; } }
    @media (max-width: 450px) {
      .about__inner {
        padding: 0 10px; } }
  .about__title {
    margin: 0;
    padding-top: 80px;
    padding-bottom: 15px;
    font-size: 46px; }
    @media (max-width: 649px) {
      .about__title {
        font-size: 36px; } }
  .about__text {
    margin: 0;
    padding-bottom: 20px; }

.advantages {
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px; }
  .advantages__inner {
    margin: 0 auto;
    padding: 0 60px;
    max-width: 1160px; }
    @media (max-width: 950px) {
      .advantages__inner {
        padding: 0 35px; } }
    @media (max-width: 750px) {
      .advantages__inner {
        padding: 0 20px; } }
    @media (max-width: 450px) {
      .advantages__inner {
        padding: 0 10px; } }
  .advantages__title {
    margin: 0;
    padding-bottom: 31px;
    font-size: 46px; }
    @media (max-width: 649px) {
      .advantages__title {
        font-size: 36px; } }
  .advantages__item {
    position: relative;
    list-style-type: none;
    margin-left: 150px;
    margin-bottom: 40px;
    padding-right: 110px;
    min-height: 120px;
    font-size: 24px;
    font-weight: bold; }
    @media (max-width: 649px) {
      .advantages__item {
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px; } }
    .advantages__item:before {
      content: '';
      position: absolute;
      width: 100%;
      left: -100px;
      top: -20px;
      border-top: 2px solid #ababab; }
      @media (max-width: 649px) {
        .advantages__item:before {
          left: 0; } }
    .advantages__item:first-of-type:before {
      content: '';
      border-top: none; }
    .advantages__item:last-of-type {
      margin-bottom: 0; }
    .advantages__item p {
      font-weight: normal;
      font-style: italic;
      font-size: 16px; }
  .advantages__item-link {
    color: #449bda;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-style: normal; }
    .advantages__item-link:hover {
      color: #828282; }
  .advantages__item-individual:after, .advantages__item-equipment:after, .advantages__item-specialist:after, .advantages__item-materials:after, .advantages__item-care:after, .advantages__item-trust:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 70px;
    top: 5px;
    left: -100px;
    background-image: url(../img/sprite-advantages.png);
    background-repeat: no-repeat;
    background-size: 100%; }
    @media (max-width: 649px) {
      .advantages__item-individual:after, .advantages__item-equipment:after, .advantages__item-specialist:after, .advantages__item-materials:after, .advantages__item-care:after, .advantages__item-trust:after {
        display: none; } }
  .advantages__item-individual:after {
    background-position: -10px -365px; }
  .advantages__item-equipment:after {
    height: 80px;
    background-position: -10px 0; }
  .advantages__item-specialist:after {
    background-position: -10px -155px; }
  .advantages__item-materials:after {
    background-position: -10px -305px; }
  .advantages__item-care:after {
    background-position: -10px -85px; }
  .advantages__item-trust:after {
    background-position: -10px -230px; }

.licenses {
  width: 100%;
  background-color: #f3cfcf;
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab; }
  .licenses__inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1160px;
    margin: 0 auto;
    padding: 30px 60px; }
    @media (max-width: 839px) {
      .licenses__inner {
        overflow-x: auto;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    @media (max-width: 950px) {
      .licenses__inner {
        padding: 30px 35px; } }
    @media (max-width: 750px) {
      .licenses__inner {
        padding: 30px 20px; } }
    @media (max-width: 450px) {
      .licenses__inner {
        padding: 30px 10px; } }
  .licenses__item {
    max-height: 370px;
    margin: 10px;
    cursor: pointer; }
    @media (max-width: 839px) {
      .licenses__item:last-child {
        padding-right: 6%; } }
  .licenses__popup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    text-align: center; }
  .licenses__popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 20; }
  .licenses__popup-img {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 3%;
    max-width: 94%;
    max-height: 94%;
    z-index: 21; }

.certificates {
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 80px; }
  .certificates__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 60px; }
    @media (max-width: 950px) {
      .certificates__inner {
        padding: 0 35px; } }
    @media (max-width: 750px) {
      .certificates__inner {
        padding: 0 20px; } }
    @media (max-width: 450px) {
      .certificates__inner {
        padding: 0 10px; } }
  .certificates__text {
    font-size: 30px; }
    @media (max-width: 649px) {
      .certificates__text {
        font-size: 24px; } }
  .certificates__link {
    color: #449bda;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .certificates__link:hover {
      color: #828282; }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px 50px 70px;
  margin: 0 auto;
  max-width: 1160px; }
  @media (max-width: 950px) {
    .services {
      padding: 50px 35px 70px; } }
  .services__title {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 46px; }
    @media (max-width: 750px) {
      .services__title {
        margin-left: -10px;
        margin-right: -10px; } }
    @media (max-width: 649px) {
      .services__title {
        font-size: 36px; } }
    @media (max-width: 450px) {
      .services__title {
        margin-left: -20px;
        margin-right: -20px; } }
  .services__text {
    margin: 0;
    padding-bottom: 80px;
    font-style: italic; }
    @media (max-width: 750px) {
      .services__text {
        margin-left: -10px;
        margin-right: -10px; } }
    @media (max-width: 450px) {
      .services__text {
        margin-left: -20px;
        margin-right: -20px; } }
  .services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center; }
  .services__services-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 1160px; }
    @media (max-width: 1279px) {
      .services__services-cards {
        width: 870px; } }
    @media (max-width: 969px) {
      .services__services-cards {
        width: 580px; } }
    @media (max-width: 679px) {
      .services__services-cards {
        max-width: 300px; } }

.services-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  margin: 0 20px 30px;
  border: 2px solid #449bda;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  .services-card:hover {
    -webkit-box-shadow: 0 0 10px 5px #ababab;
            box-shadow: 0 0 10px 5px #ababab;
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }
    .services-card:hover .services-card__text {
      color: #449bda;
      background-color: #ededed; }
  .services-card__img {
    width: 280px;
    height: 150px;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
    border-bottom: 2px solid #449bda; }
  .services-card__text {
    width: 100%;
    padding: 7px 0;
    text-align: center;
    font-size: 15.5px;
    font-weight: bold;
    -webkit-transition: all .5s;
    transition: all .5s; }

.doctors {
  padding: 50px 60px 80px;
  margin: 0 auto;
  max-width: 1160px; }
  @media (max-width: 950px) {
    .doctors {
      padding: 50px 35px 50px; } }
  .doctors__title {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 46px; }
    @media (max-width: 750px) {
      .doctors__title {
        margin-left: -10px;
        margin-right: -10px; } }
    @media (max-width: 649px) {
      .doctors__title {
        font-size: 36px; } }
    @media (max-width: 450px) {
      .doctors__title {
        margin-left: -20px;
        margin-right: -20px; } }
  .doctors__text {
    margin: 0;
    padding-bottom: 80px;
    font-style: italic; }
    @media (max-width: 750px) {
      .doctors__text {
        margin-left: -10px;
        margin-right: -10px; } }
    @media (max-width: 450px) {
      .doctors__text {
        margin-left: -20px;
        margin-right: -20px; } }

.doctors-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 80px; }
  @media (max-width: 750px) {
    .doctors-card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .doctors-card:before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 1160px;
    top: -40px;
    border-top: 2px solid #ababab; }
  .doctors-card:first-of-type:before {
    content: '';
    border-top: none; }
  .doctors-card:last-of-type {
    margin-bottom: 0; }
  .doctors-card__personality {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 30px;
    width: 245px;
    text-align: center; }
    @media (max-width: 750px) {
      .doctors-card__personality {
        padding-left: 0; } }
  .doctors-card__img-wrap {
    margin-bottom: 20px;
    width: 245px;
    height: 345px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 10px 3px #ababab;
            box-shadow: 5px 5px 10px 3px #ababab; }
  .doctors-card__img {
    width: 100%;
    height: auto; }
  .doctors-card__name {
    font-weight: bold;
    font-size: 20px; }
  .doctors-card__text {
    margin-top: 20px;
    margin-left: 50px;
    padding-right: 30px;
    width: 85%; }
    @media (max-width: 750px) {
      .doctors-card__text {
        margin-left: 10px; } }
    .doctors-card__text--hide {
      display: none; }
  .doctors-card__text-more ul {
    margin-bottom: 16px; }
  .doctors-card__text-more li {
    margin: 16px 0 0 20px; }
    @media (max-width: 750px) {
      .doctors-card__text-more li {
        margin-left: 0; } }

.assist {
  padding: 0 60px 100px;
  margin: 0 auto;
  max-width: 1160px; }
  @media (max-width: 950px) {
    .assist {
      padding: 0 35px 100px; } }
  .assist__title {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 46px; }
    @media (max-width: 649px) {
      .assist__title {
        font-size: 36px; } }
  .assist__text {
    margin: 0;
    padding-bottom: 80px;
    font-style: italic; }

.assist-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 80px; }
  @media (max-width: 750px) {
    .assist-card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .assist-card:before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 1160px;
    top: -40px;
    border-top: 2px solid #ababab; }
  .assist-card:first-of-type:before {
    content: '';
    border-top: none; }
  .assist-card:last-of-type {
    margin-bottom: 0; }
  .assist-card__personality {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 30px;
    width: 245px;
    text-align: center; }
    @media (max-width: 750px) {
      .assist-card__personality {
        padding-left: 0; } }
  .assist-card__img-wrap {
    margin-bottom: 20px;
    width: 245px;
    height: 345px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 10px 3px #ababab;
            box-shadow: 5px 5px 10px 3px #ababab; }
  .assist-card__img {
    width: 100%;
    height: auto; }
  .assist-card__name {
    font-weight: bold;
    font-size: 20px; }
  .assist-card__text {
    margin-top: 20px;
    margin-left: 50px;
    padding-right: 30px;
    width: 85%; }
    @media (max-width: 750px) {
      .assist-card__text {
        margin-left: 10px; } }

.promotions-discounts {
  padding: 50px 60px 100px;
  margin: 0 auto;
  max-width: 1160px; }
  @media (max-width: 950px) {
    .promotions-discounts {
      padding: 50px 35px 100px; } }
  @media (max-width: 750px) {
    .promotions-discounts {
      padding: 50px 20px 100px; } }
  @media (max-width: 450px) {
    .promotions-discounts {
      padding: 50px 10px 100px; } }
  .promotions-discounts__title {
    font-size: 46px;
    margin-bottom: 0;
    padding-bottom: 15px; }
    @media (max-width: 649px) {
      .promotions-discounts__title {
        font-size: 36px; } }
  .promotions-discounts__text {
    margin: 0 0 50px;
    font-style: italic; }
  .promotions-discounts__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .promotions-discounts__item {
    position: relative;
    padding-bottom: 50px; }
    .promotions-discounts__item:last-of-type {
      padding-bottom: 0; }
    .promotions-discounts__item:before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      bottom: 25px;
      border-bottom: 2px solid #449bda; }
    .promotions-discounts__item:last-of-type:before {
      content: '';
      border-bottom: none; }
    .promotions-discounts__item ul {
      margin-left: 20px;
      margin-right: 20px; }
    .promotions-discounts__item ul li {
      margin: 10px 0 0 18px; }
    .promotions-discounts__item p {
      margin: 0 0 15px 20px; }
    .promotions-discounts__item p:last-child {
      margin: 0 20px 0; }
  .promotions-discounts__month {
    color: #449bda;
    font-weight: bold; }

.reviews {
  padding: 50px 60px 100px;
  margin: 0 auto;
  max-width: 1160px; }
  @media (max-width: 950px) {
    .reviews {
      padding: 50px 35px 100px; } }
  @media (max-width: 750px) {
    .reviews {
      padding: 50px 20px 100px; } }
  @media (max-width: 450px) {
    .reviews {
      padding: 50px 10px 100px; } }
  .reviews__title {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 46px; }
    @media (max-width: 649px) {
      .reviews__title {
        font-size: 36px; } }
  .reviews__text {
    margin: 0;
    padding-bottom: 80px;
    font-style: italic; }
  .reviews__link {
    font-style: normal;
    color: #449bda;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .reviews__link:hover {
      color: #ababab; }

.reviews-card {
  position: relative;
  padding: 10px 15px;
  margin-bottom: 80px;
  border: 2px solid #449bda;
  border-radius: 15px; }
  .reviews-card:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    top: -2px;
    left: 50%;
    margin-left: -30px;
    background-color: #ffffff; }
  .reviews-card:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -24px;
    left: 50%;
    margin-left: -25px;
    background-image: url(../img/chat-bubble.png);
    background-repeat: no-repeat;
    background-size: 100%; }
  .reviews-card:last-of-type {
    margin-bottom: 0; }
  @media (max-width: 750px) {
    .reviews-card__text {
      margin: 5px 10px; } }

.contacts {
  padding: 50px 60px 100px;
  margin: 0 auto;
  max-width: 1160px; }
  @media (max-width: 950px) {
    .contacts {
      padding: 50px 35px 100px; } }
  .contacts__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 100px; }
    @media (max-width: 1130px) {
      .contacts__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-bottom: 150px; } }
  .contacts__title {
    font-size: 46px;
    margin-bottom: 0;
    padding-bottom: 50px; }
    @media (max-width: 750px) {
      .contacts__title {
        margin-left: -20px;
        margin-right: -20px; } }
    @media (max-width: 649px) {
      .contacts__title {
        font-size: 36px; } }
  .contacts__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 30px;
    width: 45%; }
    @media (max-width: 1130px) {
      .contacts__text {
        width: 70%; } }
    @media (max-width: 750px) {
      .contacts__text {
        width: 90%; } }
    @media (max-width: 650px) {
      .contacts__text {
        width: 100%; } }
    @media (max-width: 545px) {
      .contacts__text {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .contacts__slider {
    position: relative;
    width: 500px;
    height: 400px;
    border-left: 1px solid #449bda;
    border-right: 1px solid #449bda; }
    @media (max-width: 550px) {
      .contacts__slider {
        width: 350px;
        height: 300px; } }
    @media (max-width: 400px) {
      .contacts__slider {
        width: 300px;
        height: 250px; } }
    .contacts__slider .slick-prev,
    .contacts__slider .slick-next {
      position: absolute;
      width: 45px;
      height: 45px;
      bottom: -60px;
      border-radius: 50%;
      font-size: 0;
      background-color: #449bda;
      -webkit-transition: all 0s;
      transition: all 0s; }
    .contacts__slider .slick-prev:hover,
    .contacts__slider .slick-next:hover {
      background-color: #ffffff;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .contacts__slider .slick-prev:before,
    .contacts__slider .slick-next:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url(../img/right-arrow.svg);
      background-repeat: no-repeat;
      background-size: 100%; }
    .contacts__slider .slick-prev:hover:before,
    .contacts__slider .slick-next:hover:before {
      background-image: url(../img/right-arrow-blue.svg); }
    .contacts__slider .slick-prev {
      left: 25%; }
    .contacts__slider .slick-prev:before {
      background-position: 2px 0;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .contacts__slider .slick-next {
      right: 25%; }
    .contacts__slider .slick-next:before {
      background-position: 2px 0; }
  .contacts__slider-item {
    width: 500px;
    height: 400px;
    border-top: 1px solid #449bda;
    border-bottom: 1px solid #449bda;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 550px) {
      .contacts__slider-item {
        width: 350px;
        height: 300px; } }
    @media (max-width: 400px) {
      .contacts__slider-item {
        width: 300px;
        height: 250px; } }

.contacts-card {
  padding-bottom: 40px;
  width: 40%; }
  @media (max-width: 550px) {
    .contacts-card {
      width: 100%; } }
  .contacts-card:last-of-type {
    margin-right: 0; }
  .contacts-card__title {
    padding-bottom: 10px;
    margin: 0;
    font-size: 22px; }
  .contacts-card__text-underground {
    position: relative; }
    .contacts-card__text-underground:after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 30px;
      height: 20px;
      left: 155px;
      top: 0;
      background-image: url(../img/metro-line1.png);
      background-repeat: no-repeat;
      background-size: contain; }
  .contacts-card__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contacts-card__link {
    width: 150px;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: #449bda; }
    .contacts-card__link:hover {
      color: #ababab; }

.map {
  margin: 0 auto;
  max-width: 1160px;
  height: 350px; }
  @media (max-width: 750px) {
    .map {
      margin: 0 -10px; } }

.service {
  max-width: 1160px;
  margin: 0 auto;
  padding: 50px 60px 0; }
  @media (max-width: 950px) {
    .service {
      padding: 50px 35px 0; } }
  @media (max-width: 750px) {
    .service {
      padding: 50px 20px 0; } }
  @media (max-width: 450px) {
    .service {
      padding: 50px 10px 0; } }
  .service__title {
    font-size: 46px;
    margin-bottom: 0;
    padding-bottom: 15px; }
    @media (max-width: 649px) {
      .service__title {
        font-size: 36px; } }
  .service__text {
    margin-bottom: 50px; }
    .service__text p {
      margin: 0;
      padding-bottom: 15px; }
  .service__text-more {
    margin-bottom: 100px; }
    .service__text-more h3 {
      margin-bottom: 15px;
      font-size: 28px; }
    .service__text-more p {
      margin: 15px 0; }
    .service__text-more ul {
      margin-bottom: 16px; }
    .service__text-more ul li {
      margin: 10px 0 0 18px; }
  .service__catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 50px;
    max-width: 1000px;
    border: 1px solid #ababab; }
  .service__link {
    color: #449bda;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .service__link:hover {
      color: #ababab; }

.service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid #ababab; }
  .service-card:last-of-type {
    margin-bottom: 0;
    padding-bottom: 15px;
    border-bottom: none; }
  .service-card__description {
    width: 70%;
    padding: 15px 40px 0 15px; }
    @media (max-width: 450px) {
      .service-card__description {
        width: 50%; } }
  .service-card__price {
    width: 25%;
    padding: 15px 40px 0 15px; }
    @media (max-width: 750px) {
      .service-card__price {
        padding-right: 10px; } }

.up-button {
  position: fixed;
  display: block;
  width: 40px;
  height: 50px;
  top: 50%;
  right: -45px;
  color: #828282;
  background-color: #f3cfcf;
  border: 1px solid #449bda;
  border-radius: 15px 0 0 15px;
  opacity: 0;
  -webkit-transition: all .7s;
  transition: all .7s;
  z-index: 10; }
  .up-button:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 12px;
    left: 7px;
    background-image: url(../img/up-button.svg);
    background-repeat: no-repeat;
    background-size: 100%; }
  .up-button:hover {
    opacity: 1;
    -webkit-box-shadow: -3px 2px 4px 1px #ababab;
            box-shadow: -3px 2px 4px 1px #ababab; }
  .up-button--active {
    right: -1px;
    opacity: .4; }

.back-button {
  position: fixed;
  display: block;
  width: 90px;
  padding: 7px 5px 10px 10px;
  top: 50%;
  left: -35px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #828282;
  background-color: #f3cfcf;
  border: 1px solid #449bda;
  border-radius: 15px 15px 0 0;
  opacity: .4;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 10; }
  .back-button:hover {
    opacity: 1;
    -webkit-box-shadow: 3px -2px 4px 1px #ababab;
            box-shadow: 3px -2px 4px 1px #ababab; }

/*# sourceMappingURL=style.css.map */
