/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  /* stylelint-disable */
  /* stylelint-enable */ }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: '';
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir='rtl'] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500.woff2") format("woff2"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500.woff") format("woff"); }

/* montserrat-500italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500italic.woff2") format("woff2"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500italic.woff") format("woff"); }

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v12-latin_cyrillic-ext-700.woff2") format("woff2"), url("../fonts/montserrat-v12-latin_cyrillic-ext-700.woff") format("woff"); }

* {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  line-height: 1.4;
  color: #24292e; }

body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

h1,
h2 {
  color: #449bda; }

a,
blockquote {
  text-decoration: none; }

ul,
ol,
dl {
  padding: 0;
  margin: 0; }

.header-page {
  padding: 10px 60px;
  background-color: rgba(243, 207, 207, 0.5);
  z-index: 10;
  border-bottom: 1px solid #ababab; }
  .header-page__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    max-width: 1280px; }

.main-page {
  position: relative; }
  .main-page__main-title {
    display: none; }

.footer-page {
  padding: 20px 60px;
  background-color: #f3cfcf;
  border-top: 1px solid #ababab; }
  .footer-page__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1280px;
    margin: 0 auto; }
  .footer-page__social-item {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 10px; }
    .footer-page__social-item:last-child {
      margin-right: 0; }
    .footer-page__social-item:before {
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px; }
    .footer-page__social-item:hover:before {
      display: none; }

.main-nav {
  width: 70%;
  text-align: right; }
  .main-nav__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .main-nav__link {
    position: relative;
    margin-left: 20px;
    color: #828282;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .main-nav__link:hover {
      color: #449bda; }
    .main-nav__link--active {
      color: #449bda; }
      .main-nav__link--active:before {
        content: '';
        position: absolute;
        bottom: -3px;
        width: 100%;
        border-bottom: 1px solid #449bda; }

.promo {
  height: 700px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../img/promo-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2; }
  .promo__inner {
    margin-left: 8%; }
  .promo__title {
    padding-top: 300px;
    margin: 0;
    padding-bottom: 10px;
    font-size: 56px; }
  .promo__text {
    margin-left: 5px;
    font-size: 24px; }

.about {
  margin: 590px 0 0;
  background-color: #ffffff;
  border-top: 1px solid #ababab; }
  .about__inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 60px; }
  .about__title {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 15px;
    font-size: 46px; }
  .about__text {
    margin: 0;
    padding-bottom: 20px; }

.advantages {
  background-color: #ffffff; }
  .advantages__inner {
    margin: 0 auto;
    padding: 60px 60px 0;
    max-width: 1280px; }
  .advantages__title {
    margin: 0;
    padding-bottom: 31px;
    font-size: 46px; }
  .advantages__item {
    position: relative;
    list-style-type: none;
    margin-left: 150px;
    margin-bottom: 40px;
    padding-right: 110px;
    min-height: 120px;
    font-size: 24px;
    font-weight: bold; }
    .advantages__item:before {
      content: '';
      position: absolute;
      width: 100%;
      left: -100px;
      top: -20px;
      border-top: 2px solid #ababab; }
    .advantages__item:first-of-type:before {
      content: '';
      border-top: none; }
    .advantages__item p {
      font-weight: normal;
      font-style: italic;
      font-size: 16px; }
  .advantages__item-individual:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 25px;
    left: -100px;
    background-image: url(../img/person.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }
  .advantages__item-equipment:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 25px;
    left: -100px;
    background-image: url(../img/gear.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }
  .advantages__item-specialist:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 25px;
    left: -100px;
    background-image: url(../img/doctor.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }
  .advantages__item-materials:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 25px;
    left: -100px;
    background-image: url(../img/med-bag.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }
  .advantages__item-care:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 25px;
    left: -100px;
    background-image: url(../img/care.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }
  .advantages__item-trust:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 25px;
    left: -100px;
    background-image: url(../img/like.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px 60px 70px;
  margin: 0 auto;
  max-width: 1280px; }
  .services__title {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 46px; }
  .services__text {
    margin: 0;
    padding-bottom: 80px;
    font-style: italic; }
  .services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .services__services-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 1160px; }
    @media (max-width: 1279px) {
      .services__services-cards {
        width: 870px; } }

.services-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  margin: 0 20px 30px;
  border: 2px solid #449bda;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .services-card:hover {
    -webkit-box-shadow: 0 0 10px 5px #ababab;
            box-shadow: 0 0 10px 5px #ababab; }
    .services-card:hover .services-card__text {
      color: #449bda;
      background-color: #ededed; }
  .services-card__img {
    width: 280px;
    height: 150px;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
    border-bottom: 2px solid #449bda; }
  .services-card__text {
    width: 100%;
    padding: 7px 0;
    text-align: center;
    font-size: 15.5px;
    font-weight: bold;
    -webkit-transition: all .5s;
    transition: all .5s; }

.doctors {
  padding: 50px 60px 100px;
  margin: 0 auto;
  max-width: 1280px; }
  .doctors__title {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 46px; }
  .doctors__text {
    margin: 0;
    padding-bottom: 80px;
    font-style: italic; }

.doctors-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 80px; }
  .doctors-card:before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 1280px;
    top: -40px;
    border-top: 2px solid #ababab; }
  .doctors-card:first-of-type:before {
    content: '';
    border-top: none; }
  .doctors-card:last-of-type {
    margin-bottom: 0; }
  .doctors-card__personality {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 30px; }
  .doctors-card__img-wrap {
    margin-bottom: 20px;
    width: 250px;
    height: 350px;
    border-radius: 7px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 10px 3px #ababab;
            box-shadow: 5px 5px 10px 3px #ababab; }
  .doctors-card__img {
    width: 100%;
    height: auto; }
  .doctors-card__name {
    font-weight: bold;
    font-size: 20px; }
  .doctors-card__text {
    margin-top: 20px;
    margin-left: 50px;
    padding-right: 30px; }
    .doctors-card__text--hide {
      display: none; }
  .doctors-card__button {
    margin-top: 10px;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: bold;
    color: #24292e;
    background-color: #ffffff;
    border: 2px solid #449bda;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .doctors-card__button:hover {
      color: #449bda;
      background-color: #ededed;
      -webkit-box-shadow: 0 0 10px 5px #ababab;
              box-shadow: 0 0 10px 5px #ababab; }

.promotions-discounts {
  padding: 50px 60px 80px;
  margin: 0 auto;
  max-width: 1280px; }
  .promotions-discounts__title {
    font-size: 46px;
    margin-bottom: 80px; }

.reviews {
  padding: 50px 60px 100px;
  margin: 0 auto;
  max-width: 1280px; }
  .reviews__title {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 46px; }
  .reviews__text {
    margin: 0;
    padding-bottom: 80px;
    font-style: italic; }
  .reviews__link {
    font-style: normal;
    color: #449bda;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .reviews__link:hover {
      color: #ababab; }

.reviews-card {
  position: relative;
  padding: 0 15px;
  margin-bottom: 80px;
  border: 2px solid #449bda;
  border-radius: 15px; }
  .reviews-card:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    top: -2px;
    left: 50%;
    margin-left: -30px;
    background-color: #ffffff; }
  .reviews-card:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -24px;
    left: 50%;
    margin-left: -25px;
    background-image: url(../img/chat-bubble.png);
    background-repeat: no-repeat;
    background-size: 100%; }
  .reviews-card:last-of-type {
    margin-bottom: 0; }

.contacts {
  padding: 50px 60px 100px;
  margin: 0 auto;
  max-width: 1280px; }
  .contacts__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 3px;
    padding-bottom: 80px; }
  .contacts__title {
    font-size: 46px;
    margin-bottom: 0;
    padding-bottom: 50px; }
  .contacts__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .contacts__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 30px; }
    @media (max-width: 1100px) {
      .contacts__img {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .contacts__img-item {
    width: 450px;
    height: 400px;
    margin-left: 30px;
    border: 2px solid #449bda;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 10px 5px #ababab;
            box-shadow: 0 0 10px 5px #ababab; }
    .contacts__img-item:first-of-type {
      margin: 0; }
    @media (max-width: 1100px) {
      .contacts__img-item {
        margin-left: 0;
        margin-top: 50px; }
        .contacts__img-item:first-of-type {
          margin: 0; } }

.contacts-card {
  padding-bottom: 40px;
  width: 33%; }
  .contacts-card:last-of-type {
    margin-right: 0; }
  .contacts-card__title {
    padding-bottom: 10px;
    margin: 0;
    font-size: 22px; }
  .contacts-card__underground {
    position: relative; }
    .contacts-card__underground:after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 30px;
      height: 20px;
      top: 38px;
      left: 155px;
      background-image: url(../img/metro-line1.png);
      background-repeat: no-repeat;
      background-size: contain; }
  .contacts-card__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contacts-card__link {
    width: 150px;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .contacts-card__link:hover {
    color: #449bda; }

.map {
  margin: 0 auto;
  max-width: 1280px;
  height: 300px; }

/*# sourceMappingURL=style.css.map */
