.about {
  margin: 590px 0 0;
  // overflow: hidden;
  background-color: $white;
  border-top: 1px solid $gray;

  &__inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 60px;

    @media (max-width: $screen-md) {
      padding: 0 35px;
    }
  }

  &__title {
    margin: 0;
    padding-top: 80px;
    padding-bottom: 15px;
    font-size: 46px;
  }

  &__text {
    margin: 0;
    padding-bottom: 20px;
  }
}
