.contacts-card {
  padding-bottom: 40px;
  width: 40%;

  @media (max-width: 550px) {
    width: 100%;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &__title {
    padding-bottom: 10px;
    margin: 0;
    font-size: 22px;
  }

  &__text-underground {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 30px;
      height: 20px;
      left: 155px;
      top: 0;
      background-image: url(../img/metro-line1.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__tel {
    display: flex;
    flex-direction: column;
  }

  &__link {
    width: 150px;
    margin-bottom: 10px;
    transition: all 0.5s;
    color: $main-color;

    &:hover {
      color: $gray;
    }
  }
}
