.contacts {
  padding: 0 60px;

  &__inner {
    display: flex;
  }

  &__title {
    font-size: 42px;
    margin-bottom: 50px;
  }

  &__card {
    padding-bottom: 30px;
  }

  &__text {
    width: 35%;
    padding-bottom: 80px;
  }

  &__card-title {
    padding-bottom: 10px;
    margin: 0;
    font-size: 22px;
  }

  &__card-tel {
    display: flex;
    flex-direction: column;
  }

  &__card-link {
    padding-bottom: 10px;
    transition: all 0.5s;
  }

  &__card-link:hover {
    color: $main-color;
  }
}
