.contacts {
  padding: 50px 60px 80px;

  &__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  }

  &__title {
    font-size: 46px;
    margin-bottom: 0;
    padding-bottom: 50px;
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
  }

  &__img {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  &__img-item {
    width: 550px;
    height: 500px;
    margin-left: 60px;
    border: 2px solid $main-color;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px $gray;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
