.doctors {
  padding: 50px 60px 80px;
  margin: 0 auto;
  max-width: 1160px;

  @media (max-width: $screen-xmd) {
    padding: 50px 35px 50px;
  }

  &__title {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 46px;

    @media (max-width: $screen-md) {
      margin-left: -10px;
      margin-right: -10px;
    }

    @media (max-width: $screen-sm) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &__text {
    margin: 0;
    padding-bottom: 80px;
    font-style: italic;

    @media (max-width: $screen-md) {
      margin-left: -10px;
      margin-right: -10px;
    }

    @media (max-width: $screen-sm) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}
