.doctors-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    top: -40px;
    border-top: 2px solid $gray;
  }

  &:first-of-type:before {
    content: '';
    border-top: none;
  }

  &__personality {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
  }

  &__img-wrap {
    margin-bottom: 20px;
    width: 250px;
    height: 320px;
    border: 2px solid $main-color;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 3px $gray;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__name {
    font-weight: bold;
    font-size: 20px;
  }

  &__text {
    width: 70%;
    margin-top: 20px;
    padding-right: 30px;

    &--hide {
      display: none;
    }
  }

  &__button {
    margin-top: 10px;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: bold;
    color: $main-text-color;
    background-color: $white;
    border: 2px solid $main-color;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      color: $main-color;
      box-shadow: 0 0 10px 5px $gray;
    }
  }
}
