.doctors {
  padding: 50px 60px 80px;

  &__title {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 46px;
  }

  &__text {
    margin: 0;
    padding-bottom: 80px;
    font-style: italic;
  }
}
