.footer-page {
  padding: 20px 60px;
  background-color: $footer-page-color;
  border-top: 1px solid $gray;

  @media (max-width: $screen-xmd) {
    padding: 10px 35px;
  }

  @media (max-width: $screen-md) {
    padding: 10px 20px;
  }

  @media (max-width: $screen-sm) {
    padding: 10px 10px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
  }

  &__social {
    display: flex;
    flex-direction: row;
  }

  &__social-item {
    display: inline-flex;
    position: relative;
    margin-right: 10px;
    width: 32px;
    height: 32px;

    &:last-child {
      margin-right: 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      background-color: rgba(0, 0, 0, .3);
      border-radius: 5px;
    }

    &:hover:before {
      display: none;
    }
  }

  &__nav {
    text-align: right;
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media (max-width: 800px) {
      width: 400px;
    }

    @media (max-width: 550px) {
      display: none;
    }
  }

  &__nav-item {
    display: inline-block;

    @media (max-width: 800px) {
      margin-bottom: 10px;
    }
  }

  &__nav-link {
    position: relative;
    margin-left: 20px;
    color: $gray-dark;
    transition: all .5s;

    &:hover {
      color: $main-color;
    }
  }

  &__nav-link--active {
    color: $main-color;

    &:before {
      content: '';
      position: absolute;
      bottom: -3px;
      width: 100%;
      border-bottom: 1px solid $main-color;
    }
  }
}
