.header-page {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  padding: 10px 60px;
  background-color: rgba($header-page-color, .5);
  z-index: 10;
  border-bottom: 1px solid $gray;

  @media (max-width: $screen-md) {
    padding: 10px 35px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1160px;
  }

  &__logo {
    width: 220px;
  }
}
