.logo {
  position: relative;
  display: block;

  &__text {
    position: absolute;
    top: 55px;
    right: 0;
    color: $main-color;
    font-size: 12px;
    font-weight: bold;

    @media (max-width: 400px) {
      right: -25px;
    }
  }
}
