.main-nav {
  position: relative;
  text-align: right;

  @media (max-width: 1120px) {
    position: absolute;
    top: 43px;
    right: 142px;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: all .5s;
    z-index: 5;
  }

  &--active {
    transform: scaleY(1);
    opacity: 1;
  }

  &__list {
    position: relative;
    display: flex;

    @media (max-width: 1120px) {
      position: absolute;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 30px 25px 15px;
      width: 90px;
      background-color: rgba($white, .9);
      border: 1px solid $gray;
      border-radius: 50px 0 50px 50px;
    }
  }

  &__item {
    display: inline-flex;
  }

  &__link {
    position: relative;
    margin-left: 20px;
    color: $gray-dark;
    transition: all .5s;

    @media (max-width: 1120px) {
      margin: 10px 0;
    }

    &:hover {
      color: $main-color;
    }

    &--active {
      color: $main-color;

      &:before {
        content: '';
        position: absolute;
        bottom: -3px;
        width: 100%;
        border-bottom: 1px solid $main-color;
      }

      @media (max-width: 1120px) {

        &:before {
          border-bottom: none;
        }
      }
    }
  }
}
