.promotions-discounts {
  padding: 50px 60px 100px;
  margin: 0 auto;
  max-width: 1160px;

  @media (max-width: $screen-xmd) {
    padding: 50px 35px 100px;
  }

  &__title {
    font-size: 46px;
    margin-bottom: 80px;
  }
}
