.promo {
  height: 700px;
  position: relative;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1531114181037-5e61a592cf2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=23dbfaafedbf9400522ef9c47334f99a&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: -2;

  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding: 0 60px 80px;

  &__inner {
    // height: 300%;
    // box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.4);
  }

  &__title {
    padding-top: 260px;
    margin: 0;
    padding-bottom: 10px;
    font-size: 64px;
  }

  &__text {
    font-size: 30px;
  }
}
