.reviews {
  padding: 50px 60px 100px;
  margin: 0 auto;
  max-width: 1160px;

  @media (max-width: $screen-xmd) {
    padding: 50px 35px 100px;
  }

  @media (max-width: $screen-md) {
    padding: 50px 20px 100px;
  }

  @media (max-width: $screen-sm) {
    padding: 50px 10px 100px;
  }

  &__title {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 46px;

    @media (max-width: 649px) {
      font-size: 36px;
    }
  }

  &__text {
    margin: 0;
    padding-bottom: 80px;
    font-style: italic;
  }

  &__link {
    font-style: normal;
    color: $main-color;
    transition: all .5s;

    &:hover {
      color: $gray;
    }
  }
}
