.service-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid $gray;

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 15px;
    border-bottom: none;
  }

  &__description {
    width: 70%;
    padding: 15px 40px 0 15px;
  }

  &__price {
    width: 25%;
    padding: 15px 40px 0 15px;

    @media (max-width: $screen-md) {
      padding-right: 10px;
    }
  }
}
