.services {
  padding: 50px 60px 80px;
  margin: 0 auto;
  max-width: 1280px;

  &__title {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 46px;
  }

  &__text {
    margin: 0;
    padding-bottom: 80px;
    font-style: italic;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
}
