.services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 50px 60px 80px;
  margin: 0 auto;
  max-width: 1280px;

  &__title {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 46px;
  }

  &__text {
    margin: 0;
    padding-bottom: 80px;
    font-style: italic;
  }

  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  &__services-cards {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;

    @media (max-width: 1279px) {
      width: 870px;
    }
  }
}
