$second-color:          #f5f5f5;
$main-color:            #ef529f;
$main-color-light:      #ce6194;
$main-color-lighten:    #f4d4e4;
$link-color:            #1a1ff7;
$link-color-hover:      #6c73ff;
$button-color:          #1f1f1f;
$button-color-hover:    #d7569c;
$button-color-pressed:  #d72384;
$main-text-color:       #000000;

$white:                 #ffffff;
$black:                 #000000;
$gray-dark:             #828282;
$gray:                  #ababab;
$gray-light:            #dddddd;
$gray-lighten:          #e8e8e8;
$gray-lighter:          #ededed;

$error-color:           #d90000;

$main-font-family:      Montserrat, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$font-size:             14px;
$line-height:           1.4;

$screen-m:              768px;
$screen-l:              1280px;
